<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.chat.mapper.UserMapper">

    <select id="queryUserByAccount" resultType="com.example.chat.pojo.User">
        select id,
               account,
               passwd,
               email,
               sex,
               create_time,
               avatar,
               state,
               nickname,
               type
        from user
        where account = #{account}
          and state!=2
    </select>


    <select id="queryUserCountByEmail" resultType="int">
        select count(id)
        from user
        where email = #{email}
          and state!=2
    </select>


    <update id="updateImg">
        update user
        set avatar=#{avatar}
        where id = #{id}
          and state!=2
    </update>


    <select id="queryUserById" resultType="User">
        select id,
               account,
               email,
               sex,
               create_time,
               avatar,
               nickname,
               type
        from user
        where id = #{id}
          and state!=2
    </select>

    <insert id="insertUser">
        insert into user(account, email, sex, avatar, passwd, type, nickname)
        values (#{account}, #{email}, #{sex}, #{avatar}, #{passwd}, #{type}, #{nickname})
    </insert>


    <update id="updateState">
        update user
        set state=1
        where account = #{account}
    </update>


    <update id="updateUser">
        update user
        <set>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="passwd!=null and passwd!=''">
                passwd=#{passwd},
            </if>
            <if test="nickname!='' and nickname!=null">
                nickname=#{nickname},
            </if>
            id=#{id}
        </set>
        where id=#{id}
    </update>


    <select id="queryUserPasswdById" resultType="User">
        select id, passwd
        from user
        where id = #{userId}
    </select>

    <sql id="selectFields">
        id, account,nickname , avatar
    </sql>


    <select id="queryUserByIds" resultType="User">
        select <include refid="selectFields"></include> from user
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>



    <select id="queryUserByEmail" resultType="User">
        select id,email,account
        from user
        where email = #{email}
          and state!=2
    </select>
</mapper>